<div class="footer">
    <div class="footer-grid">

        <div>
            <h4>Contact</h4>

            <div class="contact-item">
                <i class="fa-solid fa-location-dot"></i>
                <p>ftribe Co., Ltd</p>
            </div>
            <div class="contact-item">
                <i class="fa-solid fa-map-pin"></i>

                <p>1658 Rosewood Lane<br>New York city, NY</p>
            </div>

            <div class="contact-item">
                <i class="fa-solid fa-phone"></i>
                <p class="highlight">212 929 9953</p>
            </div>

            <div class="contact-item">
                 <i class="fa-solid fa-envelope"></i>
                <p>admin&#64;ftribe.com</p>
               
            </div>
        </div>

        <div>
            <h4>Cooperation - Association</h4>
            <ul>
                <li>Operation Regulation of EC-Exchange</li>
                <li>Return Policy</li>
                <li>Privacy Policy</li>
                <li>Selling With ftribe</li>
            </ul>
        </div>

        <div>
            <h4>Customer Support</h4>
            <ul>
                <li>Hotline Customer Service</li>
                <li class="highlight">212 929 9953</li>
                <li>Frequently asked Questions</li>
                <li>Submit Support Request</li>
                <li>Ordering Guide</li>
                <li>Shipping Methods</li>
            </ul>
        </div>

        <div>
            <ul>
                <li>Installment Purchase Guide</li>
                <li>Import Policy</li>
                <br>
                <li>Customer Support:</li>
                <li class="highlight">customer&#64;ftribe.com</li>
            
                <br>
                <li>Security Error Report:</li>
                <li class="highlight">admin&#64;ftribe.com</li>
        
            </ul>
        </div>

    </div>
</div>

<div class="popup">
    <div class="popup-title">
        UV Resistant Glasses - Imported
        <span class="price">$250</span>
    </div>
    <div class="stars">★★★★★ (13)</div>
    <div class="popup-footer">
        15 minutes ago · From New York
    </div>
</div>